@import url("https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    text-decoration: none;
    font-family: "Lato", serif;
    * {
        font-family: "Lato", serif; 
    }
}

html,
body {
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    #__next {
        overflow-x: inherit;
    }
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    * {
        background-color: transparent;
        vertical-align: middle;
    }
}

input {
    -webkit-appearance: none;
    appearance: none; 
    border-radius: 0;
    font-family: inherit;
}